.window-body {
    background-color: cornsilk;
}
.wrapper {
    height: 100vh; width: 100vw;
    background-color: cornsilk;
    display: grid;
    grid-template: .4fr .1fr .1fr .1fr 1.2fr 1.2fr .7fr / 1fr 1fr 1fr 1fr .3fr 1.3fr;
    grid-template-areas:
    "storenumber storenumber storenumber storehours storehours storehours"
    "storeaddress storeaddress . . . ."
    "storephone storephone . . . ."
    "discountsheader discountsheader discountsheader discountsheader . ."
    "discountboxes discountboxes discountboxes discountboxes exchangepolicy exchangepolicy"
    "discountboxes discountboxes discountboxes discountboxes delivery delivery"
    "footer footer footer footer footer footer";
}
.store-id {
    grid-area: storenumber;
    background-color: cornsilk; 
    color: rgb(5, 5, 73);
    font-weight: 700;
    font-size: 2.3em;
    margin-left: 7px;
}
.store-add {
    grid-area: storeaddress;
    background-color: cornsilk; 
    color: rgb(5, 5, 73);
    font-size: 1em;
    margin-left: 7px;
}
.store-phone{
    grid-area: storephone;
    background-color: cornsilk;
    color: rgb(138, 38, 38);
    font-size: 1em;
    margin-left: 7px;
}
.store-hours{
    grid-area: storehours;
    display: flex;
    flex-direction: column;
    align-items: 'center';
    background-color: cornsilk;
    color: rgb(122, 218, 165);
    font-size: 1.2em;
}
.exchange-policy{
    grid-area: exchangepolicy;
    background-color: cornsilk;
    color: red;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration-line: underline;
}
.discounts-header{
    grid-area: discountsheader;
    background-color: cornsilk;
    color: black;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;   
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
}
.discount-boxes-wrapper{
    grid-area: discountboxes;
    display: flex;
    margin-left: 13px;
    grid-gap: 3px;
    display: flex;
    flex-direction: row;
}
.ticket-cycle-card {
    display: flex;
    flex: .45;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d3841;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}
.ticket-cycle-title {
    display: flex;
    justify-content: center;
    color: rgb(133, 235, 93);
    letter-spacing: 1px;
    margin-top: 9px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: bold;
}
.yellow {
    font-size: 15px;
    letter-spacing: 1.1px;
    padding: 3px 17px 7px 18px;
    margin-bottom: 33px;
    border: 1px solid yellow;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}
.green {
    font-size: 15px;
    letter-spacing: 1.1px;
    padding: 3px 17px 7px 18px;
    margin-bottom: 33px;
    border: 1px solid green;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.blue {
    font-size: 15px;
    letter-spacing: 1.1px;
    padding: 3px 17px 7px 18px;
    margin-bottom: 33px;
    border: 1px solid blue;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.white {
    font-size: 15px;
    letter-spacing: 1.1px;
    padding: 3px 17px 7px 18px;
    margin-bottom: 33px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.pink {
    font-size: 15px;
    letter-spacing: 1.1px;
    padding: 3px 17px 7px 18px;
    margin-bottom: 33px;
    border: 1px solid pink;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.itemized-discounts-card {
    display: flex;
    flex: .55;
    flex-direction: column;
    background-color: #2d3841;
    border: 1px solid blue;
}
.itemized-discounts-card-title {
    display: flex;
    justify-content: center;
    color: rgb(133, 235, 93);
    letter-spacing: 1px;
    font-size: 21px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-weight: bold;
}
.books-and-media-container{
    display: flex;
    flex-shrink: 2;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2d3841;
    padding-top: 3px;
}
.books-container {
    flex-direction: column;
}
.books-title {
    color: rgb(255, 248, 152);
    text-decoration-line: underline;
    align-self: center;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
}
.books-item-and-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.softcover {
    min-width: 90px;
    color: navy;
    font-size: 20px;
    margin-bottom: 13px;
}
.softcover-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 37px;
}
.hardcover {
    min-width: 90px;
    color: navy;
    font-size: 20px;
    margin-bottom: 10px;
}
.hardcover-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 37px;
}
.childrens {
    min-width: 90px;
    color: lightblue;
    font-size: 20px;
    margin-bottom: 7px;
}
.childrens-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 37px;
}
.media-container {
    flex-direction: column;
}
.media-title {
    color: rgb(255, 248, 152);
    text-decoration-line: underline;
    align-self: center;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
}
.tapes {
    min-width: 90px;
    color: rgb(201, 104, 24);
    font-size: 20px;
    margin-bottom: 3px;
}
.tapes-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 11px;
}
.albums {
    min-width: 90px;
    color: rgb(201, 104, 24);
    font-size: 20px;
    margin-bottom: 1px;
}
.albums-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 11px;
}
.cds {
    min-width: 90px;
    color: rgb(201, 104, 24);
    font-size: 20px;
    margin-bottom: 1px;
}
.cds-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 11px;
}
.dvds {
    min-width: 90px;
    color: rgb(16, 145, 85);
    font-size: 20px;
    margin-bottom: 1px;
}
.dvds-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 11px;
}
.sets {
    min-width: 90px;
    color: rgb(16, 145, 85);
    font-size: 20px;
    margin-bottom: 1px;
}
.sets-input{
    width: 100px;
    font-size: 14px;
    margin-bottom: 11px;
}
.prices {
    color: white;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-left: 15px;
    margin-right: 3px;
    font-size: 20px,
}
